USE [master]
GO
/****** Object:  Database [1erParcial-LUG]    Script Date: 18/05/2022 23:37:55 ******/
CREATE DATABASE [1erParcial-LUG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'1erParcial-LUG', FILENAME = N'C:\Users\Franc\1erParcial-LUG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'1erParcial-LUG_log', FILENAME = N'C:\Users\Franc\1erParcial-LUG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [1erParcial-LUG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [1erParcial-LUG]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 18/05/2022 23:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Legajo] [int] IDENTITY(1000,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[DNI] [bigint] NOT NULL,
	[Fecha de Nacimiento] [date] NOT NULL,
	[Codigo_GiftCard] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gift Card]    Script Date: 18/05/2022 23:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gift Card](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Fecha de Otorgamiento] [date] NOT NULL,
	[Fecha de Vencimiento] [date] NOT NULL,
	[Saldo] [decimal](16, 2) NOT NULL,
	[Descuento] [decimal](16, 2) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Rubro] [varchar](50) NOT NULL,
	[Provincia] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
 CONSTRAINT [PK__Gift Car__06370DAD3B37250A] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Gift Card] FOREIGN KEY([Codigo_GiftCard])
REFERENCES [dbo].[Gift Card] ([Codigo])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Gift Card]
GO
USE [master]
GO
